/* video設定 */
.videowh {
    /* padding-bottom: 56.25%; */
    padding-bottom: 100vh;
    height: 0;
    background: #159;
    position: relative;
    overflow: hidden;
    position: relative;
}
.videowh iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* 內容 ▼▼▼ */       


/* 黑幕 */     
.black-block::before {
    content: '';
    display: block;      
    width: 100%;
    height:  100%;        
    background-color: rgba(0,0,0,.8);
    position: absolute;
    z-index: 1;
}
.mainHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 30px;
    /* background-color: rgba(0,0,0, 0.5); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}


/* header ▼▼▼ */
#logo {
    margin-right: 30px;
}
#logo a {
    width: 140px;
    height: 80px;
    background-color: #008473;
}
.logoNmenu {
    display: flex;
}
#header-menu {
    display: flex;
}
#header-menu a {
    width: 100px;
    /* width: 80px; */
    height: 80px;
    color: #fff;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    letter-spacing: 2px;
}
#header-menu a:hover {
    background-color: #00847283;
    /* border-bottom: 5px solid #ee3274; */
}
#header-icon {
    display: flex;
    flex-direction: row-reverse;
}
#header-icon span {
    width: 50px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    cursor:pointer;
}            
#header-icon span:hover {
    color: #7EC4BA;
}
.header-icon-menu {
    display: none;
}
/* .icon-size {
    font-size: 20px;
} */
/* header ▲▲▲ */

/* side tab ▼▼▼ */
.sideNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 12px; */
    height: 100%;
    /* background-color: #fff; */
    position: fixed;
    top: 0;
    left: 30px;
    z-index: 5;
}
.sideNav li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sideNav li:last-child {
    margin-bottom: 0;
}
.sideNav a {
    width: 12px;
    height: 12px;
    background-color:#7EC4BA;
    border: 3px solid rgba(126, 196, 186, 0); 
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    box-sizing: initial;
    transition: all .5s;
}          
.sideNav a::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:rgba(126, 196, 186, 0.35);
    opacity: 0;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transition: all .3s;
    z-index: -1;
}
.sideNav span {
    width: 0px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    letter-spacing: 2px;
    /* background-color:rgba(126, 196, 186, 0.8); */
    overflow: hidden;
    cursor: pointer;
    transition: all .3s;
}
.sideNav a:hover, a.onClickContent {
    background-color:rgba(126, 196, 186, 0);
    border: 3px solid rgba(126, 196, 186,1);
}
.sideNav a:hover::before, a.onClickContent::before {
    /* width: 40px;
    height: 40px;
    opacity: 1;
    top: calc(50% - 20px);
    left: calc(50% - 20px); */
    width: 200px;
    height: 200px;
    opacity: 1;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}
.sideNav a:hover~span, a.onClickContent~span {
    /* width: 130px; */
    width: auto;
    /* padding-left: 12px; */
    padding-left: 5px;
}
/* side tab ▲▲▲ */

/* .mainVideo-flex {
    display: flex;
} */

/*mainVideo 最新快訊 ▼▼▼ */  
.mainVideo-newsletter {   
    display: flex;                
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 100%;      
    position: absolute;
    top: 0;
    /* left: 20%; */
    left: 15vw;
    z-index: 1;
    /* background-color: #159; */
}
.mV-newsletter-title {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
}
.mV-newsletter-title::after {
    content: '';
    display: inline-block;
    width: calc(100% - 91px);
    border-bottom: 1px solid #fff;
    margin-left: 15px;
    vertical-align:super;
}
.mV-newsletter-carousel {
    position: relative;
}
.mV-newsletter-content {
    /* padding: 25px 20px; */
    padding: 25px 0;
    color: #fff;
}
.mV-newsletter-content {

}
.mV-newsletter-day {
    font-size: 65px;
    font-weight: bold;
    /* letter-spacing: 20px;                 */
    font-family: "微軟正黑體",Arial, Helvetica, sans-serif;
}
.mV-newsletter-time {
    font-size: 30px;
    /* font-size: 18px; */
    letter-spacing: 3px;
    /* padding: 10px 0 15px 0; */
}
.mV-newsletter-text {                
    font-size: 18px;
    letter-spacing: 1px;
}
.mV-newsletter-btn {
    width:100%;
    height: 40px;
    margin-top: 40px; 
}
.mV-newsletter-btn a {
    width: 180px;
    height: 100%;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 36px;
    float: right;
}            
.mV-newsletter-btn::before {
    content: '';
    display: inline-block;
    width: calc(100% - 190px);
    border-bottom: 1px solid #fff;
    margin-right: 10px;
    vertical-align: bottom;
}

.mV-newsletter-carousel .owl-dots {
    display: flex;
    align-items: flex-start;
    position: absolute;
    right: 0;
    top: 0;
}
.mV-newsletter-carousel button.owl-dot {
    width: 30px;
    height: 5px;
    background-color: rgba(126, 196, 186, 0.35);
    border-radius: 5px;
    margin-right: 10px;
    transition: all .5;
}
.mV-newsletter-carousel button.owl-dot:last-child {
    margin-right: 0;
}
.mV-newsletter-carousel button.active {
    background-color: rgb(126, 196, 186);
}
/*  mainVideo 最新快訊 ▲▲▲ */

@media screen and (max-width: 1700px) {  
    /*mainVideo 最新快訊 ▼▼▼ */  
    .mainVideo-newsletter {  
        left: 12vw;
    }
    /*  mainVideo 最新快訊 ▲▲▲ */
}


@media screen and (max-width: 1650px) {  
    /*mainVideo 最新快訊 ▼▼▼ */  
    .mainVideo-newsletter {  
        width: 350px;
    }
    .mV-newsletter-day {
        font-size: 50px;
    }
    .mV-newsletter-time {
        font-size: 25px;
    }
    .mV-newsletter-text {
        font-size: 16px;
    }
    .mV-newsletter-btn {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1470px) {  
    /*mainVideo 最新快訊 ▼▼▼ */      
    .mainVideo-newsletter {  
        justify-content: flex-end; 
        width: calc(100% - 460px);
        padding-bottom: calc(150px + ((100% - 460px) * 0.56));
        left: auto;
        right: 80px;
    }
    .mV-newsletter-content {
        padding: 10px 0;
    }
    .mV-newsletter-day {
        /* font-size: 50px; */
        font-size: 40px;
        float: left;
    }
    .mV-newsletter-time {
        font-size: 25px;
        float: left;
    }
    .mV-newsletter-text {
        font-size: 16px;
        clear: both;
    }
    .mV-newsletter-btn {
        /* margin-top: 10px; */
        height: 35px;
        margin-top: 0;
    }
    .mV-newsletter-btn a {
        line-height: 35px;
    }
}
@media screen and (max-width: 1400px) {  
    /*mainVideo 最新快訊 ▼▼▼ */      
    .mainVideo-newsletter {  
        padding-bottom: calc(150px + 40px + ((100% - 460px) * 0.56));
    }
}

@media screen and (max-width: 1300px) { 
    .mainVideo-newsletter {
        padding-bottom: calc(150px + 40px + ((100% - 370px) * 0.56));
    } 

}

@media screen and (max-width: 1024px) {   
    /* header ▼▼▼ */             
    #header-menu {
        display: none;
    }
    .header-icon-menu {
        display: block;
    }
    /* header ▲▲▲ */

    
    /*mainVideo 最新快訊 ▼▼▼ */  
    .mainVideo-newsletter {  
        /* justify-content: flex-start;  */
        /* width: 600px; */
        /* margin-top: 100px;
        right: 80px;
        left: auto; */
    }    
    .mV-newsletter-day {
        font-size: 50px;
    }
    .mV-newsletter-btn {
        margin-top: 10px;
    }
}            

@media screen and (max-width: 480px) {
    /* 黑幕 */     
    .mainHeader {
        height: 60px;
        padding: 0 20px;
    }

    /* header ▼▼▼ */
    #logo a {
        width: 105px;
        height: 60px;
    }
    #header-icon span {
        width: 30px;
        height: 60px;
        line-height: 60px;
    }
    .phone-header-icon {
        display: none;
    }                
    .header-icon-menu {
        font-size: 25px;
    }
    /* header ▲▲▲ */

    /* side tab ▼▼▼ */
    .sideNav {
        display: none;
    } 
    /* side tab ▲▲▲ */
}